<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>activeGitHub</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/CommitsGraph.css" rel="stylesheet">
  </head>

<body>
	<div class="container main-index">
		<h1>activeGitHub</h1>

		<p class="lead">Enter the name of a github repository. 
            <a href="/example" target="_blank"> (example) </a> 
            <br> We'll forecast the chances that it'll have any commits in the next six months. 
            <a href="http://www.slideshare.net/gautham_nair/about-activegithub" target="_blank"> (about) </a> 
        </p>
            <form id="newRepoForm">
    			<div class="form-group">
    				<input type="text" class="form-control" name="repoString"  id="repoString" placeholder="Ex: hadley/plyr">
    			</div>
    			<!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            </form>
            <table class="table" id="resultsPane">
            </table>
	</div>

    <script src="/static/jquery/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/d3/d3.min.js"></script>
    <script src="/static/js/CommitsGraph.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>